* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

body {
  min-height: 100vh;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-left {
  text-align: left !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 3.5rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 3.5rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin: 0 1rem;
}

.main-gradient-text {
  background: -webkit-linear-gradient(0deg, #cb5eee 25%, #4be1ec 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  /* Ancho de la scrollbar */
}