/* SECCION REDES SOCIALES */
#redes {
  display: block;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.slide {
  outline: none;
  width: 60vh;
  max-height: 230px;
}
.intro {
  height: 45px;
  width: 100%;
  text-align: center;
  color: white;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  bottom: 58px;
  transition: 0.4s;
  background: rgb(27, 27, 27, 0.5);
}
.swiper-slide h1 {
  margin: 13px;
  font-size: 20px;
}
.swiper-slide p {
  font-size: 13px;
  margin: 20px;
  display: none;
}
.swiper-slide:hover .intro {
  height: 106px;
  bottom: 120px;
  background: black;
}
.swiper-slide:hover p {
  display: contents;
}
.swiper-slide:hover i {
  transform: rotate(-25deg);
}

/* Iconos Redes Sociales */
.menu-item a {
  color: #fff;
  position: relative;
  display: block;
  margin: auto;
  font-size: 200px;
}
.menu-item.item-tiktok {
  background: #3b5998;
}
.menu-item.item-tiktok:hover {
  box-shadow: 5px 0 20px #3b5998;
}
.menu-item.item-instagram {
  background: radial-gradient(
      circle at 100% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    )
    #d6249f;
}
.menu-item.item-instagram:hover {
  box-shadow: 5px 0 20px #d6249f;
}
.menu-item.item-twitter {
  background: #55acee;
}
.menu-item.item-twitter:hover {
  box-shadow: 5px 0 20px #55acee;
}
.menu-item.item-youtube {
  background: #fc0000;
}
.menu-item.item-youtube:hover {
  box-shadow: 5px 0 20px #fc0000;
}
/*Fin Iconos Redes Sociales */
.toggle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, #863ece, #007bec) 1;
  border-radius: 50em;
  color: white;
  cursor: pointer;
}
/*FIN SECCION REDES SOCIALES */

/* RESPONSIVE */
@media (max-width: 768px) {
  .swiper-wrapper .row {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }
  .slide {
    width: 30vh;
    text-align: center;
  }
}
@media (max-width: 570px) {
  .slide {
    width: 30vh;
    text-align: center;
  }
}
