.main-background {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(14, 0, 68) 40%,
    rgb(14, 0, 68) 60%,
    rgb(0, 0, 0) 100%
  );
}

.text-white {
  color: #fff;
}

.bold {
  font-weight: 900;
}
.semibold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}

.navbar-container {
  border-radius: 0px 0px 22px 22px;
  background: rgba(3, 0, 21, 0.26);
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .nav-item {
  display: inline-block;
}
.navbar .nav-item a {
  color: #fff;
  margin: auto 24px;
  text-decoration: none;
}
.navbar .nav-item.active a {
  position: relative;
  color: #fff;
  text-decoration: none;
  animation: glow 2.5s;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 500);
  }
  100% {
    text-shadow: none;
  }
}
.navbar .nav-item.active a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  animation: underline 1.5s ease-in-out infinite;
  opacity: 0;
}
@keyframes underline {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
.nav-logo {
  margin: auto 38px;
}
.nav-logo a {
  color: #fff;
  text-decoration: none;
}

.primary-button {
  position: relative;
  background: #000;
  border: 1px solid transparent;
  /* border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d) border-box; */
  background-clip: padding-box;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  border-radius: 36px;
}
.primary-button:active {
  background: none;
}
.primary-button::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: -webkit-linear-gradient(#007bec, #863ece) border-box;
  content: "";
  z-index: -1;
  border-radius: 36px;
}
.button-xl {
  font-weight: 700;
  padding: 10px 40px;
}

.hero {
  margin-top: -110px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero-content {
  width: 100%;
  text-align: center;
}

.hero-text {
  font-size: 128px;
  line-height: 128px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.hero-button {
  margin-top: 60px;
}

.footer {
  text-align: center;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.star {
  color: gold;
  margin-right: 5px;
}

a {
  color: #007bec;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform-origin: top;
  width: 100vw; /* Ocupa el ancho completo de la ventana */
  height: 100vh; /* Ocupa la altura completa de la ventana */
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa la altura completa del menú */
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.close-button:focus {
  outline: none;
}

.mobile-menu .nav-item {
  margin-bottom: 12px;
}

.mobile-menu .nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu .nav-item.active a {
  font-weight: bold;
  position: relative;
  color: #fff;
  text-decoration: none;
  animation: glowMobile 2.5s;
}

@keyframes glowMobile {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 500);
  }
  100% {
    text-shadow: none;
  }
}

.mobile-menu .nav-item.active a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  animation: underlineMobile 1.5s ease-in-out infinite;
  opacity: 0;
}

@keyframes underlineMobile {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .navbar .nav-item {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    margin: 30px;
  }

  .menu-toggle .icon {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }

  .mobile-menu {
    display: none;
    padding: 16px;
  }

  .mobile-menu.active {
    display: block;
  }

  .nav-stack {
    display: none;
  }

  .menu-toggle .icon {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }

  .menu-toggle .icon:before,
  .menu-toggle .icon:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }

  .menu-toggle .icon:before {
    transform: translateY(-10px);
  }

  .menu-toggle .icon:after {
    transform: translateY(10px);
  }

  .menu-toggle.active .icon {
    background-color: transparent;
  }

  .menu-toggle.active .icon:before {
    transform: translateY(0) rotate(45deg);
  }

  .menu-toggle.active .icon:after {
    transform: translateY(0) rotate(-45deg);
  }
}

.content .title {
  font-size: 64px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.content .subtitle {
  margin: auto 20px;
}

.service-box {
  position: relative;
  background: #000;
  border: 1px solid transparent;
  background-clip: padding-box;
  color: #fff;
  text-decoration: none;
  border-radius: 24px;
  padding: 30px 10px;
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
}
.service-box::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: -webkit-linear-gradient(#007bec, #863ece) border-box;
  content: "";
  z-index: -1;
  border-radius: 24px;
}

.service-box .service-title {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  border-bottom: 1px solid #fff;
  margin: auto;
  margin-top: 30px;
}
.service-box .service-description {
  margin: auto 30px;
  font-size: 26px;
}
.service-box .service-description ul li {
  margin-top: 30px;
}
.service-box .primary-button {
  display: block;
  margin: 10px 40px;
  margin-top: 80px;
  padding: 20px 0;
  border-radius: 25px;
  font-weight: 700;
}
.service-box .primary-button::after {
  border-radius: 25px;
}
.service-comment {
  font-style: italic;
  color: #9f9f9f;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.button-container {
  z-index: 2;
}
